.order-form {
  margin: 30px 150px;
}
.order-form input {
  display: block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
}
.error {
  color: red;
}
.order-form-main {
  margin-top: 10px;
}

.details-service {
  border: 1px solid #00224f;
  border-radius: 5px;
  padding: 5px;
}
